{
	"trailingcomma": "all",
	"tabwidth": 4,
	"semi": true,
	"singlequote": false,
	"bracketspacing": true,
	"bracketsameline": false,
	"arrowparens": "always",
	"printwidth": 80,
	"htmlwhitespacesensitivity": "ignore",
	"plugins": ["prettier-plugin-svelte"],
	"pluginsearchdirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
